*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass' , sans-serif;
    background-color: hsl(216, 12%, 8%);

}


/* start first page  */
.main-class{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    width: 480px;
    height: 550px;
    height: auto;
    border-radius: 20px;
    visibility: visible;
    background-color:  hsl(213, 19%, 18%);
}
.main-class > h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 18px;
    
}
.main-class .imgg{
    display: flex;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: hsl(208, 14%, 21%) ;
}

.main-class > p{
    font-size: 18px;
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
}
.main-class .numbers{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: hsl(217, 12%, 63%);
}
.main-class .numbers a{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color:   hsl(208, 14%, 21%);   
}
.main-class .numbers a:hover{
    background-color: hsl(217, 12%, 63%);
    color:#fff;
}

.main-class .btn {
    text-align: center;
    background-color:  hsl(25, 97%, 53%);
    padding: 15px 0;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border-radius:50px;
    text-decoration: none;
    border: none;   
}
.main-class .btn:hover{
    background-color: #fff ;
    color:hsl(25, 97%, 53%) ;

}

/* end first page  */

/* start second page  */
.second-class{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    width: 480px;
    height: 550px;
    visibility: hidden;
    height: auto;
    border-radius: 20px;  
    background-color:  hsl(213, 19%, 18%);
}
.second-class p{
    margin : 25px;
    color: hsl(217, 12%, 63%);
    text-align: center;
    max-width: 78%;
}
.second-class img{
    width: 150px;
    margin-top: 48px;
    height: 100px;
}
.second-class h1{
    color: #fff;
}

/* end second page  */